/**
 * Admin side CSS
 */
* {box-sizing: border-box} 
h1, h2, h3, h4 {
 font-weight:bold;
}
h2, h4 {color:#2271b1;}
h3 {font-size:1.1em;} 

table.cwscs_admin_table {
	width:100%;
}
table.cwscs_admin_table th, table.cwscs_admin_table td  {
	text-align:left;
	border:1px solid black;
	border-collapse:collapse;
	padding:5px;
}
#reviewer_comments {
	width: 80%;
    display: block;
    padding: 8px;
}
form.cwsreview_item textarea, form.cwsreview_item input[type="email"], .cwscs_tabcontent textarea {
	width: 80%;
    display: block;
    padding: 8px;
}
form.cwsreview_item textarea, .cwscs_tabcontent textarea {
	height:150px;
}
form.cwscsradio_group {
    background-color: #FFF;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #363636;
}
.cwshidden {display:none !important;} /* conflicts with WC if just hidden
 
 /* messages */
 .successmsg, .failmsg, .warnmsg {
	padding:15px;
	padding-bottom:15px !important;
	margin:15px;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	font-size:110%;
}
.successmsg {
	background-color:green;
}
.failmsg {
	background-color:red;
}
.warnmsg {
	background-color:none;
	border:1px solid orange;
	color:red;
}
/* Vertical tabs */
.cwscs_tab {
	float: left;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	width: 225px;
    margin-right: 30px;
    min-height: 350px;
    height: 350px;
}

/* Style the buttons that are used to open the tab content */
.cwscs_tab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 16px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	font-size:16px;
}

/* Change background color of buttons on hover */
.cwscs_tab button:hover {
	background-color: #ddd;
}

/* Create an active/current "tab button" class */
.cwscs_tab button.active {
	color: white;
    background-color: #0073aa;
}
.cwscs_tab .dashicons, .cwscs_tab .dashicons-before:before {
	width:16px;
	height:16px;
	font-size:16px;
	margin-right:4px;
	margin-top:3px;
}
/* Style the tab content */
.cwscs_tabcontent {
	float: left;
	padding: 0px 12px;
	border: 1px solid #ccc;
	width: 70%;
	border-left: none;
	min-height: 350px;
}
.button-wrap {
	margin-top:16px;
	padding-left:225px;
}
span.small {
	font-size:85%;
}
/* waiting spinner */
.overlay_spinner {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:99999; 
	overflow:hidden;
	background-color:rgba(000,000,000,.7);
	text-align:center;
}
.overlay_spinner h3 {
	padding-top:15%;
	font-size:64px;
	color:white;
}
#myoverlay div {
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    margin-left: 0px;
    margin-top: 0px;
}
.fa-spinner {
	font-size:60px !important; 
	color:#fff;
	z-index:99999;
}
/* Documentation page */
.twothirds {
	width:66%;
	float:left;
	margin-right:1%;
}
.onethird {
	margin-right:0;
	width:33%;
	max-width:512px;
	float:left
}
.onethird img {
	max-width:100%;
}

.greybox {
	border-radius:5px;
	border:2px solid #CCC;
}